.users-paginator {
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
}

.users-paginator__list {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.users-paginator__item {
    margin: 0 2px;
}

.users-paginator__link {
    display: block;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.users-paginator__link:hover {
    background-color: #ececec;
}

.users-paginator__link.active {
    background-color: dodgerblue;
    color: #fff;
}

.users-list-container {
    position: relative;
}

.users-list-container.fetching {
    overflow: hidden;
}

.users-list-container.fetching:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 50px;
    background-color: rgba(255,255,255,.9);
    background-image: url('../../assets/images/loading.gif');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 150px;
    z-index: 2;
}

.users-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.users-list__item {
    margin-bottom: 20px;
}

.user {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.04),0 4px 8px 0 rgba(0,0,0,0.20);
}

.user > * {
    margin-bottom: 5px;
}

.user__id {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    border-radius: 0 0 0 3px;
    padding: 3px 9px;
    font-size: 12px;
}

.user__name {
    color: #000;
    font-weight: bold;
}

.user__status {
    color: gray;
    font-size: 13px;
}

.user__address {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.user__follow-button,
.users-footer__button{
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 3px;
    padding: 5px 15px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
}

.user__follow-button {
    min-width: 100px;
}

.user__follow-button:hover,
.users-footer__button:hover {
    background-color: transparent;
    border-color: dodgerblue;
    color: dodgerblue;
}

.user__follow-button:active,
.users-footer__button:active {
    background-color: dodgerblue;
    color: #fff;
}

.users-footer {
    text-align: center;
}

users-footer__button {

}