* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-areas: 
    'header header header'
    'aside main main'
    'footer footer footer'
  ;
  grid-template-rows: auto 1fr 60px;
  grid-template-columns: 300px 1fr;
  max-width: 980px;
  margin: 0 auto;
}

.aside {
  grid-area: aside;
  padding: 15px;
}

.content {
  padding: 15px;
}

